<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Price Predictor</title>
    <!-- Implementing Favicon -->
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico">
    
    <!-- Implementing Styles -->
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='styles.css') }}"
    />
    <!-- Implementing Functionality -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    
    <!-- Implementing Font Icons -->
    <script
        src="https://kit.fontawesome.com/ac4072234b.js"
        crossorigin="anonymous"
    ></script>

    <!-- Adding JQuery for POST and Prediction -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <main>
        <h1>Stock Predictor 📈</h1>
        <p>Enter a Stock Symbol below! </p>
        <form id="prediction-form" method="POST">
            <input
                type="text"
                id="symbol"
                name="symbol"
                placeholder="Ex: ETH"
                onfocus="this.placeholder=''"
                onblur="this.placeholder='Ex: ETH'"
                onkeydown="return event.key != 'Enter';"
                required
            />
            <button id="predict-button" type="submit">Predict</button>
        </form>    
        <div id="prediction-result"></div>

        <script> 
            $(document).ready(function () {
                $("#prediction-form").submit(function (event) {
                    event.preventDefault();
                    var symbol = $("#symbol").val();
                    $.ajax({
                        url: "/prediction",
                        type: "POST",
                        contentType: "application/json",
                        data: JSON.stringify({ symbol: symbol }),
                        success: function (response) {
                            $("#prediction-result").html(
                                "<p>" + response.predictions + "</p>"
                            );
                        },
                    });
                });
            });
        </script>
    </main>
</body>
</html>
